<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>InicioUni</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.UniServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InicioBanco</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.BancoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InicioEstam</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.EstamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.WelcomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateEstudiante</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.CreateEstudianteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUni</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.CreateUniServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateEstam</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.CreateEstamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateBanco</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.CreateBancoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateSolicitud</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.CreateSolicitudServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveSolicitud</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.RemoveSolicitudServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListUsuario</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.ListUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveUsuario</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.RemoveUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoneUni</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.DoneUniServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefuseUni</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.RefuseUniServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoneBanco</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.DoneBancoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefuseBanco</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.RefuseBancoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoneEstam</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.DoneEstamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefuseEstam</servlet-name>
		<servlet-class>es.upm.dit.isst.unitarjeta.RefuseEstamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InicioUni</servlet-name>
		<url-pattern>/inicioUni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InicioEstam</servlet-name>
		<url-pattern>/inicioEstam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InicioBanco</servlet-name>
		<url-pattern>/inicioBanco</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveSolicitud</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateSolicitud</servlet-name>
		<url-pattern>/newSolicitud</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateEstudiante</servlet-name>
		<url-pattern>/newEstu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateEstam</servlet-name>
		<url-pattern>/newEstam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateBanco</servlet-name>
		<url-pattern>/newBanco</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUni</servlet-name>
		<url-pattern>/newUni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUsuario</servlet-name>
		<url-pattern>/listUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveUsuario</servlet-name>
		<url-pattern>/removeUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoneUni</servlet-name>
		<url-pattern>/doneUni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefuseUni</servlet-name>
		<url-pattern>/refuseUni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoneBanco</servlet-name>
		<url-pattern>/doneBanco</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefuseBanco</servlet-name>
		<url-pattern>/refuseBanco</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoneEstam</servlet-name>
		<url-pattern>/doneEstam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefuseEstam</servlet-name>
		<url-pattern>/refuseEstam</url-pattern>
	</servlet-mapping>
	

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>

	

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
